In [1]:
print("Hello")

Hello

In [3]:
print((23+34+64)//3)

40

In [4]:
print(type(4))
print(type(4.77))

<class 'int'>
<class 'float'>

In [5]:
print('Hello')

Hello

In [6]:
a = 'Hello'
b = 'There'
print(a + " " + b)

Hello There

In [7]:
print(a*5)

HelloHelloHelloHelloHello

In [8]:
print(len(a))

5

In [10]:
print(str(5) + "Hello")

5Hello

In [20]:
a = "Hello World ! Arnav has now started Python"
a.split()

['Hello', 'World', '!', 'Arnav', 'has', 'now', 'started', 'Python']

In [22]:
# Here the separator is space, and the maxsplit argument is set to 3.
a.split(' ' , 3)

['Hello', 'World', '!', 'Arnav has now started Python']

In [28]:
# Using '.' or period as a separator.
a = "Hello World ! Arnav has now started Python ."
a.split('.')

['Hello World ! Arnav has now started Python ', '']

In [29]:
#Using no separators but having a maxsplit argument of 3.
a.split(None,3)

['Hello', 'World', '!', 'Arnav has now started Python .']

In [30]:
a.title()

'Hello World ! Arnav Has Now Started Python .'

In [33]:
print(a.islower())

False

In [37]:
print(a.count('a'))
print(a.count('A'))

3
1

In [39]:
print(len(a))

44

In [41]:
list = [ 1, 2.54 , True , "Hello World"]

In [43]:
print(list)
print(list[2])
print(list[-1])

[1, 2.54, True, 'Hello World']
True
Hello World

In [45]:
#lower index is inclusive and the upper index is exclusive.
list[1:3]

[2.54, True]

In [47]:
type(list)

list

In [48]:
'sher' in 'Bhed ki hahakar ke badale sher ki ek dahad hai pyare'

True

In [51]:
'sher' not in 'Bhed ki hahakar ke badale sher ki ek dahad hai pyare'

False

In [13]:
list = [1,9,4,6,2,6,7,3]
print(sorted(list))
print(4 in list)

[1, 2, 3, 4, 6, 6, 7, 9]
True

In [56]:
#Join is a string method that takes a list of strings as an argument,
#and returns a string consisting of the list elements joined by a separator string.
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In [14]:
#Tuples
dimensions = 10, 20, 30 # equivalent to dimensions = (10, 20, 30)
#length, width, height = dimensions 
print(dimensions)
print(90 in dimensions )

(10, 20, 30)
False

In [63]:
length, breadth, height = 10, 20, 30 
print(breadth)

20

In [17]:
# Set
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

In [2]:
#Dictionary
dictionary = {'A': 5 , 'B' : 3.33, 'C' : False }
print(dictionary)

{'A': 5, 'B': 3.33, 'C': False}

In [6]:
print(dictionary['B'])
print(type(dictionary['C']))
print(dictionary.get('F'))

3.33
<class 'bool'>
None

In [9]:
dictionary['D'] = "How'D"
print(dictionary)

{'A': 5, 'B': 3.33, 'C': False, 'D': "How'D"}

In [20]:
print('A' in dictionary)

True

In [25]:
n = dictionary.get('E')
print(n == None)
print(n is None)
print(n is not None)

True
True
False

In [28]:
dictionary['X'] = [1,2,3,4]
print(dictionary)
print(type(dictionary['X']))

{'A': 5, 'B': 3.33, 'C': False, 'D': "How'D", 'X': [1, 2, 3, 4]}
<class 'list'>

In [4]:
ar = 100
if ar < 100 :
    print("it is less than 100".title())
elif ar > 100 :
    print("it is greater than 100".title())
else :
    print("Value is 100")

Value is 100

In [5]:
cities = ['A','B','C','D','E','F']
for city in cities :
    print(city)

A
B
C
D
E
F

In [9]:
for city in cities :
    city = city * 2
    print(city)
print(cities)

AA
BB
CC
DD
EE
FF
['A', 'B', 'C', 'D', 'E', 'F']

In [10]:
for i in range(3) :
    print(str(i) + " Hello")

0 Hello
1 Hello
2 Hello

In [11]:
for i in range(2,5) :
    print(str(i) + " Hello")

2 Hello
3 Hello
4 Hello

In [12]:
for i in range(2,10, 2 ) :
    print(str(i) + " Hello")

2 Hello
4 Hello
6 Hello
8 Hello

In [16]:
for city in range(len(cities)) :
    print(cities[city])

A
B
C
D
E
F

In [19]:
Alph = {
        'a':97,
        'b':98,
        'c':99,
        'd':100
        }
    
for key , value in Alph.items() :
    print("Alphabet is {} and its corresponding ASCII is {}".format(key,value))

Alphabet is a and its corresponding ASCII is 97
Alphabet is b and its corresponding ASCII is 98
Alphabet is c and its corresponding ASCII is 99
Alphabet is d and its corresponding ASCII is 100

In [3]:
i = 1
while i <= 10 :
    print(str(i))
    i += 1

1
2
3
4
5
6
7
8
9
10

In [12]:
#Zip
listA = ['ABC','DEF','XYZ','LMN','PQR']
listB = [0.33,0.6,0.33,0.2,0.25]
zipped = zip(listA,listB)
print(type(zipped))
print(list(zipped))

<class 'zip'>
[('ABC', 0.33), ('DEF', 0.6), ('XYZ', 0.33), ('LMN', 0.2), ('PQR', 0.25)]

In [13]:
for A,B in zip(listA,listB) :
    print(A +" "+ str(B))

ABC 0.33
DEF 0.6
XYZ 0.33
LMN 0.2
PQR 0.25

In [22]:
listA = ['ABC','DEF','XYZ','LMN','PQR']
listB = [0.33,0.6,0.33,0.2,0.25]
zipped = zip(listA,listB)
first , second = zip(*zipped)

print(first)
print(second)

('ABC', 'DEF', 'XYZ', 'LMN', 'PQR')
(0.33, 0.6, 0.33, 0.2, 0.25)

In [26]:
#Enumerate
letters = ['a','b','c','d','e']

for i, letter in enumerate(letters):
    print(str(i) + ". " + letter)

0. a
1. b
2. c
3. d
4. e

In [36]:
#List Comprehensions
squares = [x**2 for x in range(9)]
print(squares)
squares = [x**2 for x in range(9) if x % 2 == 0 ]
print(squares)
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 4, 16, 36, 64]
[0, 4, 4, 6, 16, 8, 36, 10, 64]

In [39]:
# Functions
def Volume_Function(height , breadth , length) :
    return height * breadth * length

In [40]:
print(Volume_Function(10,20,30))

6000

In [4]:
# Lambda Functons
double_a_number = lambda x : x*2
ComplexEquation = lambda x,y : x**2 * y**2

In [ ]:
print(double_a_number(4))
print(ComplexEquation(2,3))

In [5]:
print(double_a_number(4))
print(ComplexEquation(2,3))

8
36